.ntf_li {
    height: 175px;
    background: #ffffff;
    margin: 10px;
    border-radius: 16px;
    stroke: transparent;
  }

  
.latestSong {
    width: 16px;
    margin: 10px;
    left: 325px;
    bottom: -12px;
    font-family: monospace;
    text-align: left;
    position: relative;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 0.03rem;
  }